<div class="row" *ngIf="videos.length > 0">
  <div class="col-9">
    <iframe
      id="player"
      type="text/html"
      width="100%"
      height="100%"
      [src]="getUrl()"
      frameborder="0"
    ></iframe>
  </div>
  <div class="col-3" style="height: 90vh; overflow-y: scroll;">
    <div class="card" *ngFor="let video of videos; let i = index">
      <img
        class="card-img-top"
        [src]="video.snippet.thumbnails.default.url"
        (click)="selectedIndex = i"
      />
      <div class="card-body">
        <h5 class="card-title">{{ video.snippet.title }}</h5>
      </div>
    </div>
  </div>
</div>

<!--[ | | | | | | | | | | | ]-->
